# Assignment: Data Wrangling
## `! git clone https://github.com/DS3001/wrangling`
## Do Q2, and one of Q1 or Q3.

In [1]:
! git clone https://github.com/DS3001/wrangling

Cloning into 'wrangling'...
remote: Enumerating objects: 92, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (35/35), done.
remote: Total 92 (delta 36), reused 17 (delta 14), pack-reused 43 (from 1)
Unpacking objects: 100% (92/92), done.

In [2]:
import pandas as pd

In [8]:
! ls wrangling

NA_codes.jpg      bondType.png      plane.png         timespent.jpg
assignment        data              pretrial_data.csv wrangling.ipynb

In [83]:
! ls wrangling

NA_codes.jpg      bondType.png      plane.png         timespent.jpg
assignment        data              pretrial_data.csv wrangling.ipynb

**Q1.** Open the "tidy_data.pdf" document in the repo, which is a paper called Tidy Data by Hadley Wickham.

  1. Read the abstract. What is this paper about?
  2. Read the introduction. What is the "tidy data standard" intended to accomplish?
  3. Read the intro to section 2. What does this sentence mean: "Like families, tidy datasets are all alike but every messy dataset is messy in its own way." What does this sentence mean: "For a given dataset, it’s usually easy to figure out what are observations and what are variables, but it is surprisingly difficult to precisely define variables and observations in general."
  4. Read Section 2.2. How does Wickham define values, variables, and observations?
  5. How is "Tidy Data" defined in section 2.3?
  6. Read the intro to Section 3 and Section 3.1. What are the 5 most common problems with messy datasets? Why are the data in Table 4 messy? What is "melting" a dataset?
  7. Why, specifically, is table 11 messy but table 12 tidy and "molten"?
  8. Read Section 6. What is the "chicken-and-egg" problem with focusing on tidy data? What does Wickham hope happens in the future with further work on the subject of data wrangling?

**Q2.** This question provides some practice cleaning variables which have common problems.
1. Numeric variable: For `./data/airbnb_hw.csv`, clean the `Price` variable as well as you can, and explain the choices you make. How many missing values do you end up with? (Hint: What happens to the formatting when a price goes over 999 dollars, say from 675 to 1,112?)
2. Categorical variable: For the `./data/sharks.csv` data covered in the lecture, clean the "Type" variable as well as you can, and explain the choices you make.
3. Dummy variable: For the pretrial data covered in the lecture, clean the `WhetherDefendantWasReleasedPretrial` variable as well as you can, and, in particular, replace missing values with `np.nan`.
4. Missing values, not at random: For the pretrial data covered in the lecture, clean the `ImposedSentenceAllChargeInContactEvent` variable as well as you can, and explain the choices you make. (Hint: Look at the `SentenceTypeAllChargesAtConvictionInContactEvent` variable.)

***1.) Clean the Price Variable(Numeric)***

In [101]:
# thousands = "," command tells it to report anything with a comma as just the numbers --> ex.) 1,234 --> 1234
df_air = pd.read_csv('./wrangling/assignment/data/airbnb_hw.csv', thousands=",")
print(df_air['Price'])

0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: Price, Length: 30478, dtype: int64

In [102]:
# Convert the Price column from a series of strings to ints
df_air['Price'] = df_air['Price'].apply(lambda x: int(x))
print(df_air['Price'])

0        145
1         37
2         28
3        199
4        549
        ...
30473    300
30474    125
30475     80
30476     35
30477     80
Name: Price, Length: 30478, dtype: int64

In [103]:
#check to see if values appear
for each in df_air['Price']:
    if each > 999:
        print(each)

1990
1000
1200
1000
5000
3000
1500
1200
1800
1300
1000
1239
5999
1500
1300
1500
2750
4750
1000
8000
4500
1000
1000
2500
1000
1000
3750
1000
1500
1000
1000
1500
1000
2000
1000
1500
1750
1000
1500
1495
1700
1000
5000
1999
1000
1170
1100
3000
1000
1111
1000
1000
1174
4000
1100
1000
2500
1000
1500
1400
2520
1000
1000
1500
1000
1200
1600
1000
2695
1300
1000
2295
1065
2000
3000
2000
2000
1500
1200
5000
1368
1000
1500
1000
1500
1000
1000
1250
1350
2000
1200
1500
1250
1200
1000
1800
4000
4000
3000
4500
3200
2000
1000
2000
1500
1000
1500
2500
1100
1000
1050
1650
1000
1200
1000
1500
1500
1500
1000
1550
1200
2500
1250
1000
3000
1000
1000
1250
2500
2000
6500
2750
1500
2000
2499
1600
1500
1000
1400
1500
1000
1850
2250
2500
2500
1100
1900
1750
1000
1500
1000
1350
1500
2500
1200
1499
1050
1200
1750
2000
10000
5000
1600
1500
1000
1195
1500
1500
1000
3500
2500
1700
1050
3100
2486
2486
3390
1356
2599
2000
2000

In [104]:
#check for null values
df_air['Price'].isnull()
num_nulls_price = df_air['Price'].isnull().sum()
print(f"There are {num_nulls_price} null values in the Price column")

There are 0 null values in the Price column

***2.) Clean the Type Variable(Categorical)***

In [37]:
df_sharks = pd.read_csv('./wrangling/data/sharks.csv', low_memory=False)
print(df_sharks['Type'])

0       Unprovoked
1         Provoked
2       Unprovoked
3       Unprovoked
4       Unprovoked
           ...
6457    Unprovoked
6458    Unprovoked
6459    Unprovoked
6460    Unprovoked
6461    Unprovoked
Name: Type, Length: 6462, dtype: object

In [112]:
df_sharks.columns[0:30].to_list

<bound method IndexOpsMixin.tolist of Index(['index', 'Case Number', 'Date', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Unnamed: 9', 'Age', 'Injury',
       'Fatal (Y/N)', 'Time', 'Species ', 'Investigator or Source', 'pdf',
       'href formula', 'href', 'Case Number.1', 'Case Number.2',
       'original order', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28'],
      dtype='object')>

In [43]:
#check the number of unique values in each column
df_sharks.describe(include='all').loc['unique', :]

index            NaN
Case Number     6442
Date            5552
Year             NaN
Type              12
                ...
Unnamed: 251     NaN
Unnamed: 252     NaN
Unnamed: 253     NaN
Unnamed: 254     NaN
Unnamed: 255     NaN
Name: unique, Length: 257, dtype: object

In [108]:
#print the 12 different unique values of Type
df_sharks.Type.unique()

'\nWatercraft, Boating, Boat, Boatomg, Sea Disaster --> Boat\nUnconfirmed, Unverified, Invalid, Questionable, Under Investigation  --> nan\n'

In [109]:
df_sharks['Type'] = df_sharks['Type'].replace(['Sea Disaster', 'Boat','Boating','Boatomg'],'Watercraft')
df_sharks['Type'].value_counts()

df_sharks['Type'] = df_sharks['Type'].replace(['Invalid', 'Questionable','Unconfirmed','Unverified','Under investigation'],np.nan)
df_sharks['Type'].value_counts()

Unprovoked    4716
Provoked       593
Watercraft     583
Name: Type, dtype: int64

In [107]:
df_sharks['Type'].value_counts()

Unprovoked             4716
Provoked                593
Invalid                 552
Sea Disaster            239
Watercraft              142
Boat                    109
Boating                  92
Questionable             10
Unverified                1
Unconfirmed               1
Boatomg                   1
Under investigation       1
Name: Type, dtype: int64

In [114]:
df_sharks['Fatal (Y/N)']

0       N
1       N
2       N
3       N
4       N
       ..
6457    Y
6458    Y
6459    Y
6460    Y
6461    Y
Name: Fatal (Y/N), Length: 6462, dtype: object

In [115]:
# This is interesting: Sharks are much more likely to kill you if the situation is UNprovoked. 
df_sharks['Fatal (Y/N)'] = df_sharks['Fatal (Y/N)'].replace(['UNKNOWN', 'F','M','2017'],np.nan) # All unclean values
df_sharks['Fatal (Y/N)'] = df_sharks['Fatal (Y/N)'].replace('y','Y') # All unclean values
pd.crosstab(df_sharks['Type'],df_sharks['Fatal (Y/N)'],normalize='index')

Fatal (Y/N)         N         Y
Type
Provoked     0.967521  0.032479
Unprovoked   0.743871  0.256129
Watercraft   0.684303  0.315697

***3.) Clean the WhetherDefendantWasReleasedPretrial Variable(Dummy)***

In [85]:
df_pretrial = pd.read_parquet('./wrangling/assignment/data/justice_data.parquet')

In [86]:
df_pretrial.describe()

,Defendant_AgeGroup,Defendant_AttorneyTypeAtCaseClosure,Defendant_IndigencyStatus,WhetherDefendantWasReleasedPretrial,DaysBetweenContactEventAndPretrialRelease,PretrialReleaseType1,PretrialReleaseType2,BondTypeAtInitialContact,BondTypeAtRelease_v1,BondTypeatRelease_v2,...,NewPSAViolentMisdArrest_DaysBetweenOffDateandArrestDate,NewPSAViolentMisdArrest_DaysBetweenReleaseDateandOffDate,NewVaCode805ViolentOff_DaysBetweenOffDateandArrestDate,NewVaCode805ViolentOff_DaysBetweenReleaseDateandOffDate,NewVaCode297ViolentOff_DaysBetweenOffDateandArrestDate,NewVaCode297ViolentOff_DaysBetweenReleaseDateandOffDate,NewFelonySexualAssaultArrest_DaysBetweenOffDateandArrestDate,NewFelonySexualAssaultArrest_DaysBetweenReleaseDateandOffDate,Intertnalindicator_ReasonforExcludingFromFollowUpAnalysis,DispRecordFoundforChargesinOct2017Contact_Atleast1dispfound
count,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,...,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000,22986.000000
mean,3.391543,3.303750,1.927869,0.845428,175.066301,2.731619,1.872444,3.113330,3.282041,3.192030,...,972.448882,975.656704,981.714609,984.377969,992.571087,993.530497,998.310928,998.452188,0.983903,1.009615
std,1.293381,10.713382,10.779928,0.477276,374.426546,2.078630,1.663620,1.866408,1.788788,1.775506,...,159.714176,143.844743,128.708975,114.253166,78.964332,70.252286,25.512519,22.329630,1.667225,0.403211
min,2.000000,0.000000,0.000000,0.000000,-18.000000,0.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,0.000000
25%,2.000000,1.000000,0.000000,1.000000,0.000000,2.000000,1.000000,1.000000,2.000000,2.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,0.000000,1.000000
50%,3.000000,2.000000,0.000000,1.000000,0.000000,3.000000,2.000000,3.000000,3.000000,3.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,0.000000,1.000000
75%,4.000000,4.000000,1.000000,1.000000,6.000000,4.000000,3.000000,4.000000,4.000000,3.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,1.000000,1.000000
max,9.000000,99.000000,99.000000,9.000000,999.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,9.000000,9.000000

In [87]:
df_pretrial['WhetherDefendantWasReleasedPretrial']

0        9
1        0
2        0
3        0
4        1
        ..
22981    1
22982    1
22983    1
22984    1
22985    1
Name: WhetherDefendantWasReleasedPretrial, Length: 22986, dtype: int64

In [89]:
import numpy as np

In [97]:
# Replace None with NaN using fillna()
df_pretrial = df_pretrial.fillna(value=np.nan)

In [98]:
# Replace 9 values with NaN using replace()
df_pretrial.replace(to_replace=9, value=np.nan, inplace=True)

In [117]:
missing = sum(df_pretrial['WhetherDefendantWasReleasedPretrial'].isnull())
print(f"There are {missing} missing values in this column")

There are 31 missing values in this column

***4.) clean the ImposedSentenceAllChargeInContactEvent***

In [119]:
df_pretrial['ImposedSentenceAllChargeInContactEvent'].unique()

array([' ', '60', '12', '.985626283367556', '36', '6', '24',
       '5.91375770020534', '120', '72', '11.9917864476386', '0',
       '2.95687885010267', '84', '108', '300', '240', '180', '4', '96',
       '2', '54', '.328542094455852', '44', '5', '115', '132', '48',
       '258', '34', '76', '.164271047227926', '.131416837782341', '111',
       '9', '3', '1.97125256673511', '36.9856262833676',
       '.0657084188911704', '35.4928131416838', '106.492813141684', '8',
       '35', '18.3141683778234', '480', '32', '93', '234', '732',
       '1.16427104722793', '4.6570841889117', '21', '7',
       '4.49281314168378', '18', '600', '43.1642710472279', '179', '52',
       '30', '20', '192', '702', '14', '55', '53', '11.9055441478439',
       '114', '35.0061601642711', '68', '.657084188911704',
       '46.6242299794661', '102', '65', '200', '57', '24.3285420944559',
       '12.1642710472279', '117', '81.4928131416838', '22.4928131416838',
       '1980', '3.6570841889117', '56', '10', '2.79260780287474', '1',
       '47', '22', '1500', '40', '284', '11', '118', '42', '162', '156',
       '47.2956878850103', '105', '51', '246', '29', '75', '324', '360',
       '34.4804928131417', '120.328542094456', '59.9260780287474', '66',
       '59.9917864476386', '660', '51.1642710472279', '14.9568788501027',
       '3.98562628336756', '78', '228', '1.47843942505133', '62', '4.8',
       '86', '168', '23', '33', '48.0328542094456', '720', '348', '1200',
       '27', '49', '87', '420', '63', '79.9260780287474',
       '57.0349075975359', '49.9712525667351', '59.4928131416838', '17',
       '238.492813141684', '60.9856262833676', '126', '45', '158', '216',
       '227', '42.9568788501027', '445', '70.952772073922', '516',
       '177.82135523614', '1752', '90', '1080', '141', '4.82956878850103',
       '230', '31', '2208', '52.5133470225873', '69', '26',
       '33.4928131416838', '140', '131', '344', '219', '101', '71', '59',
       '58', '120.197125256674', '67', '35.4004106776181',
       '3.28542094455852', '40.1642710472279', '91', '1.7741273100616',
       '155', '34.4928131416838', '81', '92.3285420944559',
       '3.5482546201232', '207', '74', '518', '28', '8.95687885010267',
       '237', '404.673511293634', '18.1642710472279', '10.7433264887064',
       '551', '39', '15', '124', '43', '176', '19.4928131416838', '482',
       '129', '88', '46', '45.8542094455852', '128.628336755647',
       '136.492813141684', '108.328542094456', '50', '363.663244353183',
       '288', '250', '107', '81.0225872689938', '444', '205',
       '10.6570841889117', '19', '66.9856262833676', '38.4928131416838',
       '264', '276', '173', '222', '144', '294', '336', '431', '450',
       '73', '99.3285420944559', '128', '30.8069815195072',
       '31.5256673511294', '127', '202', '55.3285420944559', '89', '242',
       '1.31416837782341', '1029', '.788501026694045', '194.858316221766',
       '399', '39.6570841889117', '56.95687885', '198',
       '120.985626283368', '47.6570841889117', '148', '6.8993839835729',
       '65.3285420944559', '5.95277207392197', '.0985626283367557',
       '3.32854209445585', '3.94250513347023', '12.9856262833676',
       '6.98562628336756', '13.1498973305955', '15.1642710472279',
       '17.1971252566735', '17.9137577002053', '104', '212',
       '24.6570841889117', '72.6570841889117', '2.98562628336756',
       '144.985626283368', '31.9712525667351', '183', '4.98562628336756',
       '11.8213552361396', '252', '12.394250513347', '42.4928131416838',
       '10.1642710472279', '11.1642710472279', '5.49281314168378',
       '59.6632443531827', '12.3285420944559', '48.9856262833676',
       '240.985626283368', '2.6570841889117', '540', '2.97125256673511',
       '6.32854209445585', '23.6632443531828', '133.657084188912',
       '35.3285420944559', '456', '103', '1.72279260780287',
       '12.6570841889117', '11.6570841889117', '60.3285420944559',
       '3.78850102669405', '576', '2.13141683778234', '492',
       '14.9856262833676', '24.9856262833676', '61.9712525667351',
       '5.6570841889117', '16', '42.1642710472279', '.492813141683778',
       '138', '13.3141683778234', '11.8932238193018', '5.32854209445585',
       '95', '62.6570841889117', '3.08829568788501', '11.8275154004107',
       '1.64271047227926', '47.9917864476386', '4.27104722792608',
       '8.32854209445585', '3.31416837782341', '70', '77',
       '1.09856262833676', '48.1642710472279', '27.4928131416838',
       '6.93839835728953', '1011', '.68993839835729', '1.1170431211499',
       '1.49281314168378', '4.16427104722793', '1.19712525667351',
       '4.07392197125257', '188', '11.3285420944559', '.0328542094455852',
       '432', '11.952772073922', '36.4928131416838', '23.9835728952772',
       '9.98562628336756', '98', '36.3285420944559', '112',
       '.394250513347023', '13', '.262833675564682', '13.7987679671458',
       '5.8870636550308', '354', '5.91991786447639', '24.1642710472279',
       '62.95687885', '4.59958932238193', '123', '2.32854209445585',
       '23.9240246406571', '204', '197', '174', '16.1498973305955', '840',
       '440', '98.95687885', '17.952772073922', '63.9425051334702',
       '60.1314168377823', '12.1314168377823', '172.952772073922',
       '.197125256673511', '138.164271047228', '4.92813141683778',
       '.919917864476386', '18.9856262833676', '6.6570841889117',
       '2.85420944558522', '8.91375770020534', '146', '12.4928131416838',
       '.558521560574949', '.722792607802875', '5.82135523613963',
       '84.9856262833676', '6.16427104722793', '15.9856262833676',
       '64.5585215605749', '38.299794661191', '11.958932238193',
       '3.1211498973306', '126.328542094456', '5.16427104722793', '64',
       '42.6570841889117', '312', '19.9712525667351', '82.3285420944559',
       '23.9712525667351', '17.6242299794661', '121.971252566735',
       '59.6550308008214', '1.32854209445585', '7.97125256673511',
       '1.91991786447639', '.525667351129363', '9.32854209445585',
       '42.9856262833676', '41.9137577002053', '72.9856262833676',
       '12.4784394250513', '5.19096509240246', '473', '16.6570841889117',
       '109', '86.3285420944559', '41', '1.90554414784394',
       '94.1642710472279', '302', '4.39425051334702', '10.8213552361396',
       '18.3285420944559', '154', '83', '110.956878850103', '226',
       '96.0328542094456', '4.82135523613963', '30.3285420944559',
       '37.9712525667351', '50.4640657084189', '286', '99',
       '99.4928131416838', '2.6611909650924', '70.9712525667351',
       '13.9712525667351', '23.6570841889117', '.459958932238193',
       '132.492813141684', '283', '49.3141683778234', '27.9856262833676',
       '38', '7.6570841889117', '83.6550308008214', '10.9199178644764',
       '162.328542094456', '37', '132.328542094456', '35.952772073922',
       '165', '10.9856262833676', '20.1642710472279', '2.59137577002053',
       '175', '180.985626283368', '10.3285420944559', '36.1642710472279',
       '120.657084188912', '232', '152', '8.98562628336756', '167',
       '11.0657084188912', '11.2032854209446', '5.19712525667351',
       '3.16427104722793', '60.1642710472279', '1.18275154004107',
       '21.1642710472279', '2.19712525667351', '4.19712525667351',
       '2.62833675564682', '119.952772073922', '119.958932238193',
       '9.49281314168378', '5.25667351129363', '15.3285420944559',
       '2.82135523613963', '192.985626283368', '48.6570841889117',
       '5.95687885010267', '2.29979466119097', '960', '2.36550308008214',
       '116', '19.5133470225873', '1.6570841889117'], dtype=object)

In [120]:
df_pretrial['ImposedSentenceAllChargeInContactEvent'] = pd.to_numeric(df_pretrial['ImposedSentenceAllChargeInContactEvent'],errors='coerce') # Coerce to numeric
length_NA = df_pretrial['ImposedSentenceAllChargeInContactEvent'].isnull() # Create a missing dummy
print( np.sum(length_NA),'\n')

9053

In [121]:
print( pd.crosstab(length_NA, type), '\n') # Category 4 is cases where the charges were dismissed

col_0                                   <class 'type'>
ImposedSentenceAllChargeInContactEvent
False                                            13933
True                                              9053

In [125]:
df_pretrial['ImposedSentenceAllChargeInContactEvent'].replace(to_replace=4, value=0, inplace=True)
df_pretrial['ImposedSentenceAllChargeInContactEvent'].replace(to_replace=9, value=np.nan, inplace=True)

In [126]:
length_NA = df_pretrial['ImposedSentenceAllChargeInContactEvent'].isnull() # Create a new missing dummy
print( pd.crosstab(df_pretrial['ImposedSentenceAllChargeInContactEvent'], type), '\n')
print( np.sum(df_pretrial['ImposedSentenceAllChargeInContactEvent']),'\n') # 274 missing, much better

col_0                                   <class 'type'>
ImposedSentenceAllChargeInContactEvent
0.000000                                          5047
0.032854                                             6
0.065708                                            24
0.098563                                             8
0.131417                                            14
...                                                ...
1200.000000                                          1
1500.000000                                          1
1752.000000                                          1
1980.000000                                          1
2208.000000                                          1

[481 rows x 1 columns]

276409.11622176546

**Q3.** Many important datasets contain a race variable, typically limited to a handful of values often including Black, White, Asian, Latino, and Indigenous. This question looks at data gathering efforts on this variable by the U.S. Federal government.

1. How did the most recent US Census gather data on race?
2. Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?
3. Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?
4. How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.
5. When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why?
6. Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?

***1.) How did the most recent US Census gather data on race?***
The census gathered data on race through a self-selection process. It asked two questions regarding race and ethnicity in which people self-selected themselves into one of the options.

***2.) Why do we gather these data? What role do these kinds of data play in politics and society? Why does data quality matter?***
This data maters because it helps us understand the demographic makeu of the country. In turn, this helps make policy decisions because politicians must understand the societal makeup of the country. Therefore, the quality of the data is important because if it is wrong, then politicians will be making decisions on the wrong information, potentially leading to incorrect decisions.

***3.) Please provide a constructive criticism of how the Census was conducted: What was done well? What do you think was missing? How should future large scale surveys be adjusted to best reflect the diversity of the population? Could some of the Census' good practices be adopted more widely to gather richer and more useful data?***
One thing that the census did not do well was to allow the participants to self-select themselves into a race without any check. Therefore, people could incorrectly select their own race without it being confirmed. 

***4.) How did the Census gather data on sex and gender? Please provide a similar constructive criticism of their practices.***
Similar to race, the Census allowed people to self select their own sex and gender. Again, this creates problems with self selection without authentification. However, with a category as vague and fluid as race, this can also be a benefit in that people are more likely to give a truthful answer if they do not feel pressured.

***5.) When it comes to cleaning data, what concerns do you have about protected characteristics like sex, gender, sexual identity, or race? What challenges can you imagine arising when there are missing values? What good or bad practices might people adopt, and why***

Some of the challenges that may arise when dealing with protected characteristics include: misidentifying people's race or gender/sex, which may offend people or incorrectly track data, Overly generalizing sex/race (not having enough options) which may make people feel unincluded, etc. Furthermore, when you encounter missing values, it can be hard to set a default because this could, again, misgender or misidentify somebody leading to them feeling misrepresented.

***6.) Suppose someone invented an algorithm to impute values for protected characteristics like race, gender, sex, or sexuality. What kinds of concerns would you have?***

I would mostly be worried about my algorithm misgendering or misindetifying somebody because it may offend them. Furthermore, I would be worried that my algorithm may take racial or gender stereotypes and continue to push them, which would be a bad use of data.